<div>
    <label for="">category :</label>
    <input type="text" [(ngModel)]="category">
    <br />

    <label for="">subcategory :</label>
    <br />
    <!-- <input type="text"> -->
    <textarea name="subcategory" id="subcategory" cols="30" rows="10" [(ngModel)]="subcategory"></textarea>


    <div>
        <button type="submit" class="btn" (click)="submitForm(subcategory,category)">Save </button>
        <button type="button" class="btn" (click)="addmore()">Add More</button>
    </div>

    <table>
        <tr>
            <th>Category</th>
            <th>Sub-category</th>

        </tr>
        <tr *ngFor="let cat of catsucat">
            <td>{{cat.categoryName}}</td>
            <td>
                <div>
                    <p *ngFor="let subcat of cat.subcategories">
                        {{subcat.subcategoryName}}
                    </p>

                </div>
            </td>

        </tr>

    </table>
</div>