$color-primary: #ff4d5b;
$color-primary-dark: #ff7a84;
$color-primary--light: #ffb59b;

$color-success: #8cd066;
$color-tertiary: #ffa92b;

$color-text: #1b1b1b;
$color-text-light: #d4d4d4;
$color-text-grey: #767676;

$thm_font: "Poppins", sans-serif;
